{{> base-layout title="Ticket Assigned" }}

{{#*inline "body"}}
    <div style="padding: 0px 20px;">
        <p>We are pleased to inform you that a ticket has been assigned to you for the following event:</p>
        <p><strong>Event:</strong> {{ event }}</p>
        <p><strong>Date:</strong> {{ date }}</p>
        <p>Please take note of the details and ensure you address the ticket promptly.</p>
        <p>If you have any questions or concerns, feel free to reach out to us.</p>
    </div>
{{/inline}}
