{{> base-layout title="Welcome Email" }}

{{#*inline "body"}}
    <div style="padding: 0px 20px;">
        <p>We are delighted to welcome you to our platform. Thank you for joining us!</p>
        <p>If you have any questions or need assistance, feel free to contact our support team.</p>
    </div>
{{/inline}}
